$fontColor: #0091aa;
$colorHeading: #be4a14;
#content1  // div with id: content
{
    color: $fontColor;
}
#content2  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}