body
{
    background-image: url("https://media.giphy.com/media/V5aB8bPkmK796/giphy.gif");
    background-size: 250px 150px;
}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:tomato;
}